/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
    background-color: #bdc3c7;
}

.profil {
    width: 250px;
    box-shadow: #31363b 4px 6px 10px;
}

.hlavicka {
    position: relative;
}

.foto {
    width: 100%;
}

.logo {
    background-color: #b92e81;
    border-radius: 30px;
    position: absolute;
    bottom: -20px;
    right: 20px;
    box-shadow: rgb(37, 36, 36) 4px 6px 10px;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.obsah {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .9rem;
    background-color: #31363b;
    color: #bdc3c7;
    padding: 1rem;
    margin-top: -1rem;
}

.odkazy ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.odkazy a {
    display: block;
    padding: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #bdc3c7;
    background-color: #31363b;
    font-size: .9rem;
}

.portfolio {
    flex-basis: 100%;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #3f464d;
}

.facebook {
    flex-basis: 50%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #3f464d;
}

.twitter {
    flex-basis: 50%;
}

.portfolio a:hover {
    color: white;
    background-color: #e74c3c;
}

.facebook a:hover {
    color: white;
    background-color: #3b5998;
}

.twitter a:hover {
    color: white;
    background-color: #1da1f2;
}