body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(201, 198, 198);
}

.content {
    width: 350px;
    background-color: #31363b;
    color: whitesmoke;
    padding: 0.5rem;
}

.information {
    padding: 0rem 1rem 1rem 1rem;
}

header {
    align-items: center;
}

.my-photo {
    width: 90%;
    border-radius: 30% 30% 30% 0%;
    padding: 1rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.links {
    margin: 0;
    padding: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.facebook-icon {
    width: 50px;
    border-radius: 10px;
}

.instagram-icon {
    width: 50px;
}

.mail-icon {
    width: 50px;
    border-radius: 10px;
}